<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" backupStaticAttributes="true" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningsToExceptions="false" forceCoversAnnotation="false" processIsolation="false" stopOnError="true" stopOnFailure="true" stopOnIncomplete="false" stopOnSkipped="true" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <report>
      <clover outputFile="./docs/reports/coverage/coverage.xml"/>
      <html outputDirectory="./docs/reports/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxHtml outputFile="./docs/reports/testdox.html"/>
    <testdoxText outputFile="./docs/reports/testdox.txt"/>
  </logging>
</phpunit>
